<!doctype html>

<html lang="en">

<head>
    <title>CS 348 IMDB Project</title>
    <meta name="description" content="Our main page">
</head>

<body>
    <h1>Our page content will go here.</h1>
    <form action="/movies/titanic" method = "get">
        <button type="button" onclick="window.location.href = 'http://127.0.0.1:3000/movies/titanic';">Test Feature 1</button>
    </form>
</body>
</html>